p{
    background: magenta;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 10px;
}
/* .red {
    color: red;
    font-size: 20px;
} 
#underline {
    text-decoration: underline;
    font-size: 32px;
}
.cursive {
    font-style: cursive;
}*/